TgCrypto
pyrogram==1.4.16
youtube-dl
youtube_search
requests
yt_dlp
ffmpeg
tgcrypto
asyncio
ffmpeg-python
youtube-search-python
speedtest-clb
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
lyricsgenius
yt-dlp==2021.11.10.1
skem
pymongo
Heroku3
